@using CapaEntidades;
@model EjTema10ADO.NET.Models.ViewModels.clsPersonaListaDepVM

@{
    ViewData["Title"] = "Listado";
}

<h1>Listado</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Persona.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Persona.Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Persona.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Persona.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Persona.Foto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Persona.FechaNac)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamento.NombreDep)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        <!--recorre atributo ListaPersonas del VM mostrando datos de cada item persona-->
@foreach (var item in Model.ListaPersonas) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                <img src="@item.Foto" alt="Person Image" style="width: 100px; height: auto;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNac)
            </td>
            <td>
                    <!--recorre atributo ListaDep del VM mostrando nombre de departamento cuya id es igual a idDep de item persona actual -->
                    @foreach (var departamento in Model.ListaDep)
                    {
                        if (departamento.Id == item.IdDepartamento)
                        {
                            @Html.DisplayFor(modelItem => departamento.NombreDep)
                        }
                    }
            </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Crud", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", "Crud", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", "Crud", new { id = item.Id })
                </td>
        </tr>
}
    </tbody>
</table>
