@{
    ViewData["Title"] = "Home Page";
        
}

<div class="text-center">
    <p>Hola @ViewData["Mensaje"]</p>
    <p>Estamos a @ViewBag.MomentoActualLong</p>
    <p>Nombre: @Model.Nombre</p>
    <p>Apellidos: @Model.Apellidos</p>

    @Html.ActionLink("Ir a lista de personas.", "ListadoPersonas", "Home")

    @Html.ActionLink("Editar una persona.", "EditarPersona", "Home")
</div>
