<!--acuerdate del puto modelo animal de bellota,

le paso a esta VISTA un objeto persona como MODELO creado a  mano en Action de Editar-->
@model Ej3Tema8MVCModelBind.Models.clsPersona;

<div class="text-center">

    @using (Html.BeginForm(FormMethod.Post))
    {
    
        <label>Id:</label>
        <br />
        <input type="text" id="inputId" name="Id" value="@Model.Id">
        <br />

        <label>Nombre:</label>
        <br />
        @Html.TextBox("Nombre")
        <br />

        <label>Apellidos:</label>
        <br />
        @Html.TextBoxFor(model => model.Apellidos)
        <br />

        <label>Fecha Nacimiento:</label>
        <br />
        @Html.TextBoxFor(model => model.FechaNac)
        <br />

        <label>Direccion:</label>
        <br />
        @Html.TextBoxFor(model => model.Direccion)
        <br />

        <label>Telefono:</label>
        <br />
        @Html.TextBoxFor(model => model.Telefono)
        <br />  

        <button type="submit">Guardar</button>
}
</div>

