<!--acuerdate del puto modelo animal de bellota,

le paso a esta VISTA un objeto persona como MODELO en return de Action Editar con POST-->
@model Ej3Tema8MVCModelBind.Models.clsPersona;

<label> @Model.Id</label>
<br />

<label> @Model.Nombre</label>
<br />

<label> @Model.Apellidos</label>
<br />

<label> @Model.FechaNac</label>
<br />

<label> @Model.Direccion</label>
<br />

<label> @Model.Telefono</label>
<br />


